*{
    font-family: "Source Serif 4", serif;
}
h1{
    font-weight:900;
}
body{
    background-color: #F5F6FA;
    height: 98vh;
    margin: 0 0 0 0;
}
.dashboard-container{
    display: flex;
    flex-direction: column;
}
.dashboard-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #0B192C;
    color: white;
    max-height: 200px;
    height: 84px;
}
.logo-container{
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    height: 100%;
}
.logo-container img{
    width: 225px;
    height: 100%;
    margin: 0 0 0 0;
    object-fit: cover;
}
.dashboard-content{
    display: flex;
    flex-direction: column;
}
.dashboard-header-right{
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    height: 100%;
    margin: 0 20px 0 0;
}
.notification-icon{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    margin: 0 20px 0 0;
}
.profile{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    margin: 0 20px 0 0;
}
.profile img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}
.dashboard-content-button{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 20px 20px 20px  20px;
}
.search-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: left;
}
.button-container{
    display: flex;
    flex-direction: row;
    justify-content: right;
    gap: 15px;
    align-items: center;
}
.form-container{
    background-color: white;
    border-radius: 20px;
    padding: 50px;
    width: 90%;
    margin: 0 auto;
}
.input-row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;

}
.button-container{
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    margin-top: 20px;
}
.confirmBtn{
    background-color: #1E3E62;
    color: white;
    padding: 10px 40px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.add-btn{
    background-color: #1E3E62;
    font-weight: 700;
    color: white;
    padding: 10px 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.edit-btn{
    background-color: #0B192C;
    font-weight: 700;
    color: white;
    padding: 10px 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.delete-btn{
    background-color: #FF0000;
    font-weight: 700;
    color: white;
    padding: 10px 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.search-input{
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
    margin-right: 10px;
    width: 400px;
}
.search-btn{
    background-color: #1E3E62;
    font-weight: 600;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.input-text{
    padding: 10px;
    border: 1px solid black;
    border-radius: 50px;
    margin-bottom: 10px;
    width: 250px;
}
