*{
    font-family: "Source Serif 4", serif;
}
h1{
    font-weight:900;
}
body{
    background-color: #F5F6FA;
    height: 98vh;
    margin: 0 0 0 0;
}
.dashboard-container{
    display: flex;
    flex-direction: column;
}
.dashboard-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* background-color: #0B192C; */
    background-image: linear-gradient(135deg,  #0B192C, #1E2E62);
    color: white;
    max-height: 200px;
    height: 84px;
}
.logo-container{
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    height: 100%;
}
.logo-container img{
    width: 300px;
    height: 100%;
    margin: 5px 0 0 0;
    object-fit: cover;
}
.dashboard-content{
    display: flex;
    flex-direction: column;
}
.dashboard-header-right{
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    height: 100%;
    margin: 0 20px 0 0;
}
.notification-icon{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    margin: 0 20px 0 0;
}
.profile{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    margin: 0 20px 0 0;
}
.profile img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}
.profile-dropdown{
    position: relative;
    display: inline;
    cursor: pointer;
}
.profile-dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.profile-dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.profile-dropdown-content a:hover {background-color: #f1f1f1;}
.profile-dropdown:hover .profile-dropdown-content {
    display: block;
    cursor: pointer;
    transition: 0.3s;
    transform: translateY(0px);
    opacity: 1;
}
.notification {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.notification-icon {
    vertical-align: middle;
}

.notification-dropdown {
    display: none;
    position: absolute;
    right: 0;
    background-color: white;
    min-width: 200px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 5px;
    padding: 10px;
}

.notification-dropdown p {
    color: #0B192C;
    margin: 0 ;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}
.notification-dropdown a{
    color: #0B192C;
    display: block;
    text-align: center;
}

.notification-dropdown p:last-child {
    border-bottom: none;
}

.dashboard-content-button{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 20px 20px 20px  20px;
}
.search-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: left;
}
.button-container{
    display: flex;
    flex-direction: row;
    justify-content: right;
    gap: 15px;
    align-items: center;
}
.form-container{
    background-color: white;
    border-radius: 20px;
    padding: 50px;
    width: 90%;
    margin: 0 auto;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield; /* Firefox */
}
.input-row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;

}
.input-row-few{
    display: flex;
    flex-direction: row;
    justify-content: left !important;
    gap: 95px;
    margin-bottom: 10px;
}

.button-container{
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    margin-top: 20px;
}
.confirmBtn{
    display: none;
    background-color: #1E3E62;
    color: white;
    padding: 10px 40px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.add-btn{
    background-color: #1E3E62;
    font-weight: 700;
    color: white;
    padding: 10px 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.edit-btn{
    background-color: #C1C1C1;
    font-weight: 700;
    color: white;
    padding: 10px 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.delete-btn{
    background-color: #C1C1C1;
    font-weight: 700;
    color: white;
    padding: 10px 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.search-input{
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
    margin-right: 10px;
    width: 400px;
}
.search-btn{
    background-color: #1E3E62;
    font-weight: 600;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.input-text{
    padding: 10px;
    border: 1px solid black;
    border-radius: 50px;
    margin-bottom: 10px;
    width: 250px;
    box-shadow: 4px 2px 8px 0px rgba(0,0,0,0.75);
}
.input-radio{
    width: 20px;
    height: 20px;
    margin-right: 10px;
    border: 0px;
    cursor: pointer;
}
.radio-label{
    line-height: 1.5em !important;
}
input::-webkit-calendar-picker-indicator {
    cursor: pointer;
  }
select,option{
    cursor: pointer;

}


.table-container{
    /* display:none; */
    background-color: white;
    border-radius: 20px;
    padding: 50px;
    width: 90%;
    margin: 20px auto;
    border-collapse: collapse;
}

table{
    display: table;
    border-collapse: separate;
    border-spacing: none !important;
    border-color: grey;
    width: 100%;
}
th{
    display: table-cell;
    text-align: inherit;
    vertical-align: inherit;
    border-color: inherit;
    border-spacing: none !important;
    padding: 20px;
    background-color: #0B192C;
    color: white;
}
td{
    display: table-cell;
    text-align: center;
    vertical-align: inherit;
    border-color: inherit;
    padding: 20px;
    background-color: white;
    color: black;
}
tr{
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
    border: 1px solid black;
    border-radius: 10px;
}

.table-button-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.table-button-container button{
    background-color: #1E3E62;
    font-weight: 700;
    color: white;
    padding: 10px 30px;
    border: none;
    border-radius:15px;
    cursor: pointer;
    width: 150px;
}
.table-button-group{
    display: flex;
    gap: 10px;
}
#addBtn{
    display: none;
}
.active{
    background-color: #2d8fff !important;
    color: white;
    border-radius: 15px;
}
